body {
  margin: 0;
}

.page-container {
  display: grid;
  height: 100vh;
  grid-template-columns: [nav-start] 25vw [header-start] 1fr [header-end];
  grid-template-rows: [page-top] 20vh [header-bottom] 1fr [page-bottom];
}

.nav__container {
  background-color: purple;
  grid-column: nav-start / header-start;
  grid-row: page-top / page-bottom;
}

.header__container {
  display: grid;
  grid-column: header-start / header-end;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  background-color: pink;
}

.search-bar__container {
  grid-column: 1 / 2;
}

.main__container {
  display: grid;
  grid-column: header-start / page-end;
  grid-row: header-bottom / page-bottom;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-row: 1/3;

    background-color: yellow;
  }

  &__heading {
    grid-column: 1 / 3;
  }
}

.announcement__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  background-color: lightblue;
}

.trending__container {
  background-color: lightgreen;
}
